In [10]:
#导入numpy时常给别名np，导入pandas时常给的别名就是pd
#——————————类比———————————— 
import pandas as pd
import numpy as np

In [2]:
#作为标签库，pandas对象在numpy数组基础上给予其行列标签。即 numpy-pandas == 列表-字典
#pandas中所有的数组特性仍在，pandas的数据以numpy数组的方式存储

In [3]:
#part1：对象的创建

In [4]:
#numpy中使用np.array()将列表转化为数组；在pandas中也可以通过pd.Series()将字典转化为series对象
dict_v={'a':0,'b':0.25,'c':0.5,'d':0.75,'e':1}
sr=pd.Series(dict_v)    #用字典创建对象（一维）
print(sr)

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [5]:
#字典打起来太麻烦了————更好的创造对象方法：数组创建法
#给pd.Series()传两个参数：values(列表、数组、张量均可);键index（索引）
v=[0,0.25,0.5,0.75,1]
k=['a','b','c','d','e']       #用列表创建对象
#键值创建法
sr=pd.Series(v,index=k)   #第二个index=k使用了函数的关键字参数，如果不写就是默认的0-5数字
print(sr)

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [6]:
#Series的属性有value和index
#创建二维对象：
#字典创建法：pd.DataFrame({字典})——相当于对一列列数据做拼接
#√数组创建法：直接给pd.DataFrame()函数传参数，就3个：值values；行标签index；列标签columns ——————见下
#PS:行/列标签省略就是从0开始的默认编号

In [11]:
#设定好键值
v=np.array([[53,'女'],[64,'男'],[72,'男'],[82,'女']])
i=['1号','2号','3号','4号']
c=['年龄','性别']

df=pd.DataFrame(v,index=i,columns=c)   #数组创建法
print(df)

    年龄 性别
1号  53  女
2号  64  男
3号  72  男
4号  82  女

In [12]:
#当然也可以不用np
v=[[53,'女'],[64,'男'],[72,'男'],[82,'女']]
i=['1号','2号','3号','4号']
c=['年龄','性别']

df=pd.DataFrame(v,index=i,columns=c)   #数组创建法
print(df)

    年龄 性别
1号  53  女
2号  64  男
3号  72  男
4号  82  女

In [13]:
#part2：对象索引
#索引——显式：loc （去掉也一样）； 隐式：iloc

In [17]:
v=[53,64,72,82]
k=['1号','2号','3号','4号']
sr=pd.Series(v,index=k)
print(sr)

1号    53
2号    64
3号    72
4号    82
dtype: int64

In [18]:
#访问元素
sr['3号']

72

In [19]:
#显示索引是包括了右边界
sr['1号':'3号']

1号    53
2号    64
3号    72
dtype: int64

In [20]:
#创建新对象赋值还是与元对象绑定的，若想创建独立的新变量则要和numpy一样用.copy()即可

In [21]:
#在二维对象中索引器必须存在——————索引器就是服务于二维对象的
df.loc['1号','年龄']

53

In [23]:
#索引切片
df.loc['3号',:]  #提取二维对象的行

年龄    72
性别     男
Name: 3号, dtype: object

In [24]:
df.loc[:,'年龄']  #提取矩阵对象的列

1号    53
2号    64
3号    72
4号    82
Name: 年龄, dtype: int64

In [25]:
#part3：对象的变形
#转置仍然是.T

In [26]:
#左右翻转————倒着采样(-1)
df=df.iloc[ : , : : -1]
df

   性别  年龄
1号  女  53
2号  男  64
3号  男  72
4号  女  82

In [27]:
#上下翻转
df=df.iloc[ : : -1 , : ]  #行和列都是头到尾，采样间隔是-1——倒着采样
df

   性别  年龄
4号  女  82
3号  男  72
2号  男  64
1号  女  53

In [29]:
#对象的拼接：pd.concat()  ————类比np.concatenate()
v1=[10,20,30,40]
v2=[40,50,60]
k1=['1号','2号','3号','4号']
k2=['4号','5号','6号']
sr1=pd.Series(v1,index=k1)
sr2=pd.Series(v2,index=k2)
sr1,sr2

(1号    10
 2号    20
 3号    30
 4号    40
 dtype: int64,
 4号    40
 5号    50
 6号    60
 dtype: int64)

In [31]:
#合并
pd.concat([sr1,sr2])

#pandas对象放弃了集合与字典索引中“不可重复”的特性————拓展了大数据分析与处理的应用场景

1号    10
2号    20
3号    30
4号    40
4号    40
5号    50
6号    60
dtype: int64

In [34]:
#在二维对象中加入一行/列数据
#加上一列————即加一类：df['列标签']=[a,b,c——即各元素]
#加上一行————即加一组数据：df.loc['标号']=[对应的数据]

In [36]:
#合并就用pd.concat([df1,df2],axis=0/1)   ————axis=0可以不写，表示添加行个体；axis=1表示添加列特征

###

In [37]:
#part4：对象的运算————运算的就是数字部分
#可以用numpy上的数学函数进行计算

In [40]:
#part5：对象的缺失值

#发现缺失值使用.isnull()方法
#剔除缺失值使用.dropna()方法
#填充缺失值使用.fillna()方法————填充内容多样

v=[53,None,72,82]
k=['1号','2号','3号','4号']
sr=pd.Series(v,index=k)
sr

1号    53.0
2号     NaN
3号    72.0
4号    82.0
dtype: float64

In [41]:
#发现sr的缺失值
sr.isnull()

1号    False
2号     True
3号    False
4号    False
dtype: bool

In [42]:
#剔除sr的缺失值（行）
sr.dropna()
#对于二维就是选择剔除行/列————剔除行只是一行数据，剔除列直接少了一个类别，所以肯定选前者的（）方法就跟一维一样

1号    53.0
3号    72.0
4号    82.0
dtype: float64

In [48]:
#可为剔除缺失值设阈值
#df.dropna(how='all')    这就表示这一行全都是缺失值的时候才剔除，同样可以设置达到5个剔除之类的

In [46]:
#用常数0填充
sr.fillna(0)

1号    53.0
2号     0.0
3号    72.0
4号    82.0
dtype: float64

In [49]:
#用常数（均值）填充
sr.fillna(np.mean(sr))

1号    53.0
2号    69.0
3号    72.0
4号    82.0
dtype: float64

In [50]:
#用前值填充
sr.fillna(method='ffill')  #forward-fill

1号    53.0
2号    53.0
3号    72.0
4号    82.0
dtype: float64

In [51]:
#用后值填充
sr.fillna(method='bfill')  #backward-fill

1号    53.0
2号    72.0
3号    72.0
4号    82.0
dtype: float64

In [52]:
#part6:导入excel文件

In [58]:
#创建excel文件录入信息，保证：第一列为index；第一行为columns
df = pd.read_csv('pandastest.csv',index_col=0)
df.head()

    age gender  num kun
1号   10      女    1   是
2号   20      男    2   是
3号   30      男    3   是
4号   40      女    4   是
5号   50      男    5   否

In [ ]:
#—————————————————————————————————————————————————————分界线—————————————————————————————————————————————————————————————————————

In [79]:
#part7:数据分析：导入excel后用前面的函数分析
#以titanic为例
df=pd.read_csv('titanic.csv',index_col=0)
df.head()
#把这个看成个神经网络，是否survive看成输出，输入就是别的————现在的任务就是根据这些输入预测神经网络的输出到底是0还是1

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [59]:
#数据透视 .pivot_table() ————第一个特征是输出特征（即是否survive）；第二个特征是输入特征

In [80]:
#一个特征：考虑sex是如何影响survive的：
df.pivot_table(values='Survived',index='Sex')    #这个函数的第三个参数是aggfunc，默认是mean算均值（0.74和0.18）————本身就科学了

        Survived
Sex
female  0.742038
male    0.188908

In [81]:
#两个特征：sex和Pclass（船舱等级）
df.pivot_table('Survived',index='Sex',columns='Pclass')

Pclass         1         2         3
Sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [82]:
#多个特征：但船费fare和年龄age的值比较分散————要用到pd.cut()和pd.qcut()

In [83]:
#重置年龄列
age = pd.cut(df['Age'],[0,25,120])   #以25岁为分水岭\
age
#因此cut的作用就是把 连续 的列利用区间改成 离散 的列

PassengerId
1        (0.0, 25.0]
2      (25.0, 120.0]
3      (25.0, 120.0]
4      (25.0, 120.0]
5      (25.0, 120.0]
           ...
887    (25.0, 120.0]
888      (0.0, 25.0]
889              NaN
890    (25.0, 120.0]
891    (25.0, 120.0]
Name: Age, Length: 891, dtype: category
Categories (2, interval[int64]): [(0, 25] < (25, 120]]

In [84]:
#三个特征：Sex，Pclass，Age
df.pivot_table('Survived',index=['Sex',age],columns='Pclass')

Pclass                   1         2         3
Sex    Age
female (0, 25]    0.928571  0.965517  0.507692
       (25, 120]  0.982456  0.888889  0.378378
male   (0, 25]    0.500000  0.277778  0.155039
       (25, 120]  0.379310  0.079365  0.145161

In [86]:
#重置费用列
fare = pd.qcut(df['Fare'],2)   #将费用自动分成两部分
fare
#实际分析不建议使用qcut这种自动分割，建议自己画个图用cut手动分割

PassengerId
1       (-0.001, 14.454]
2      (14.454, 512.329]
3       (-0.001, 14.454]
4      (14.454, 512.329]
5       (-0.001, 14.454]
             ...
887     (-0.001, 14.454]
888    (14.454, 512.329]
889    (14.454, 512.329]
890    (14.454, 512.329]
891     (-0.001, 14.454]
Name: Fare, Length: 891, dtype: category
Categories (2, interval[float64]): [(-0.001, 14.454] < (14.454, 512.329]]

In [87]:
#四个特征：Sex，Pclass，Age，Fare
df.pivot_table('Survived',index=['Pclass',fare],columns=['Sex',age])

Sex                         female                male
Age                        (0, 25] (25, 120]   (0, 25] (25, 120]
Pclass Fare
1      (-0.001, 14.454]        NaN       NaN       NaN  0.000000
       (14.454, 512.329]  0.928571  0.982456  0.500000  0.397590
2      (-0.001, 14.454]   0.857143  0.904762  0.055556  0.108108
       (14.454, 512.329]  1.000000  0.875000  0.500000  0.038462
3      (-0.001, 14.454]   0.589744  0.444444  0.147368  0.134615
       (14.454, 512.329]  0.384615  0.315789  0.176471  0.200000

In [ ]:
#finish！！！